
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about py-5" id="about1">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-padding">
                <h4 class="mt-lg-5">Ảnh hưởng của thương mại điện tử</h4>
                <p class="mt-3">
                    Sự ra đời của Thương mại điện tử đã tác động đến nhiều khía cạnh của kinh doanh hiện đại:
                    Ngân hàng, marketing,
                    sản xuất, chiến lược kinh doanh, định vị và phân khúc thị trường,...
                    Tác động đến hoạt động marketing
                </p>
            </div>
            <div class="col-lg-6 px-sm-0 img-div">
                <img src="~/images/ab1-alt.jpg" alt="" class="img-fluid" />
                <img src=" ~/images/iphone.jpg" alt="" class="img-fluid position-img" />
            </div>
            <div class="col-lg-6 px-sm-0 img-div mt-lg-0 mt-md-4 mt-0">
                <img src="~/images/ab2.jpg" alt="" class="img-fluid" />
                <img src="~/images/macbook.jpg" alt="" class="img-fluid position-img1" />
            </div>
            <div class="col-lg-6 about-padding">
                <h4 class="mt-lg-5"> Lợi ích Thương mại điện tử mang đến cho doanh nghiệp là gì?</h4>
                <p class="mt-3">
                    -Khắc phục hạn chế về địa lý
                    -Mở rộng tập khách hàng nhờ vào các công cụ tìm kiếm
                    -Chi phí hợp lý
                    -Kích hoạt các chương trình giảm giá, chiến dịch
                    -Dễ dàng giữ liên lạc với khách hàng
                    -Vẫn mở mọi lúc
                    -Linh hoạt trong việc mở rộng quy mô
                    -Ứng dụng thương mại điện tử trong doanh nghiệp
                    -Bán buôn bán lẻ
                    -Marketing,tài chính chủ động
                </p>
            </div>
        </div>
    </div>
</section>
<!-- //About -->
<!-- services -->
<section class="services py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="row py-xl-3">
            <div class="col-lg-4 mt-lg-5">
                <p class="title"></p>
                <h3 class="heading mb-4">Những lợi ích mà HSop_Ecommerce sẽ mang lại cho bạn</h3>
                <p>
                    Nhằm tối ưu hệ thống và chăm sóc khách hàng đặc biệt và chất lượng sản phẩm tốt khi đến tay người dùng
                </p>

            </div>
            <div class="col-lg-8 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bottom-gd-ser p-4">
                            <div class="row">
                                <div class="col-sm-2 bottom-gd-icon">
                                    <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                                </div>
                                <div class="col-sm-10 bottom-gd-content mt-sm-0 mt-4">
                                    <h4 class="mb-sm-3 mb-2">Nhanh chóng-Tiện lợi</h4>
                                    <p>Bạn có thể mua hàng chỉ bằng một click chuột.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-md-0 my-4">
                        <div class="bottom-gd-ser p-4">
                            <div class="row">
                                <div class="col-sm-2 bottom-gd-icon">
                                    <span class="fa fa-magic" aria-hidden="true"></span>
                                </div>
                                <div class="col-sm-10 bottom-gd-content mt-sm-0 mt-4">
                                    <h4 class="mb-sm-3 mb-2">Nhiều lựa chọn mua hàng</h4>
                                    <p>Danh mục sản phẩm được hiển thị rõ ràng và mua và bán đạt được hiểu quả cao</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-5">
                    <div class="col-md-6">
                        <div class="bottom-gd-ser p-4">
                            <div class="row">
                                <div class="col-sm-2 bottom-gd-icon">
                                    <span class="fa fa-snowflake-o" aria-hidden="true"></span>
                                </div>
                                <div class="col-sm-10 bottom-gd-content mt-sm-0 mt-4">
                                    <h4 class="mb-sm-3 mb-2">Chính sách tốt </h4>
                                    <p>Chính sách ưu đãi, hỗ trợ phí vận chuyển cho nhà bán hàng..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <div class="bottom-gd-ser p-4">
                            <div class="row">
                                <div class="col-sm-2 bottom-gd-icon">
                                    <span class="fa fa-weibo" aria-hidden="true"></span>
                                </div>
                                <div class="col-sm-10 bottom-gd-content mt-sm-0 mt-4">
                                    <h4 class="mb-sm-3 mb-2">Sử dụng phần mềm quản lý bán hàng đa kênh</h4>
                                    <p>
                                        Phần mềm quản lý bán hàng đa kênh OCM kết nối với
                                        Website giúp các shop online quản lý
                                        thông tin hàng hóa và tồn kho, quản
                                        lý đơn hàng và doanh số bán hàng.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="gal1" class="pop-overlay animate">
    <div class="popup">
        <img src="images/1.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>

<div id="gal2" class="pop-overlay animate">
    <div class="popup">
        <img src="~/images/2.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>

<div id="gal3" class="pop-overlay animate">
    <div class="popup">
        <img src="~/images/3.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>

<div id="gal4" class="pop-overlay animate">
    <div class="popup">
        <img src="~/images/4.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal5" class="pop-overlay animate">
    <div class="popup">
        <img src="~/images/5.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- popup-->
<div id="gal6" class="pop-overlay animate">
    <div class="popup">
        <img src="~/images/6.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
        <a class="close" href="#gallery">&times;</a>
    </div>
</div>
<!-- //popup -->
<section class="stats-info" id="facts">
    <div class="overlay py-5">
        <div class="container py-lg-5">
            <p class="center text-center">Thành tựu HShop_Ecommerce đạt được</p>
            <h3 class="heading mb-5 text-center">Những con số</h3>
            <div class="row">
                <div class="col-lg-3 col-sm-6 stats-grid-w3-agile">
                    <div class="row">
                        <div class="col-4">
                            <div class="icon-right-w3ls text-center">
                                <span class="fa fa-female"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="counter text-wh">60000+</p>
                            <p class="text-li">người dùng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 stats-grid-w3-agile mt-sm-0 mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="icon-right-w3ls text-center">
                                <span class="fa fa-trophy"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="counter text-wh">12</p>
                            <p class="text-li">Giải thưởng trong kinh doanh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 stats-grid-w3-agile mt-lg-0 mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="icon-right-w3ls text-center">
                                <span class="fa fa-weibo"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="counter text-wh">15000+</p>
                            <p class="text-li">Sản Phẩm</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 stats-grid-w3-agile mt-lg-0 mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="icon-right-w3ls text-center">
                                <span class="fa fa-smile-o"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="counter text-wh">10000+</p>
                            <p class="text-li">Đánh giá tốt từ khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>