#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
48 - Nguyễn Hoàng Nam.docx
.vs/H_Shop.NetCore/v17/.suo
DataAndServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
H_Shop.NetCore/bin/Debug/netcoreapp3.1/H_Shop.NetCore.dll
*.pdb
UI/bin/UI.dll
*.v2
*.v2
.vs/H_Shop.NetCore/DesignTimeBuild/.dtbcache.v2
*.v2
*.v2
*.cache
*.cache
*.cache
*.dll
*.cache
*.pdb
