
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou1</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    
    <link href="~/Content/admin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="content">
        <h1 class="display-3 "style="color:cornflowerblue">Cảm ơn bạn đã mua hàng </h1>
        <p class="lead"><strong>Vui lòng kiểm tra Email hoặc Số điện thoại của bạn</strong> để được hướng dẫn thêm về cách theo dõi đơn hàng của bạn.<br />
        Đơn hàng của bạn sẽ được gửi từ 2-3 ngày.
        <br />
        <p style="font-style:italic">
            Thông tin đến bạn
        </p>
        <hr>
        <p>
            Bạn cần hỗ trợ? <a href="">Liên hệ với chúng tôi</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="~/Product/Index" role="button">Tiếp tục mua sắm</a>
        </p>
    </div>
</body>
</html>

























