@model IEnumerable<Model.DTO.DTO_Ad.DTO_Item_Type>
@using Model.DTO.DTO_Ad;
@{
   var typed= (string)Session["typeProduct"];
}

<select style="width:200px;margin-left:10%" name="typeProduct" id="typeProduct ">
    <option selected>@typed</option>

    @foreach (DTO_Item_Type item in Model)
    {
        <option>@item.Type_Product</option>
    }
</select>
@*<select name="sizeProduct" id="sizeProduct" style="display:none;width:200px" multiple>

        <option selected>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>


    </select>

    <script>


        function ShowOptionSize() {
            var valueTypeProduct = $("#typeProduct").val();
            if (valueTypeProduct == "Thời trang nam" || valueTypeProduct == "Thời trang nữ") {
                $("#sizeProduct").show();
                $("#quantity").show();
            }
            else {
                $("#sizeProduct").hide();
                $("#quantity").hide();
            }
        }
    </script>*@